Flask
Flask-Session
flask-talisman
gunicorn
requests
scikit-learn
nltk
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
whitenoise
PyPDF2
numpy
elsapy
pandas
